<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="page1">
		<div class="navbar dark">
			<%= image_tag("clueless yellow s") %>
			<ul class="nav">
				<li class="active">Home</li>
				<li>Work</li>
				<li>About</li>
				<li>Join</li>
			</ul>
		</div>
		<h1 class="welcome">Hi! We're clueless.</h1>
		<div class="button mainbtn">
			<p>What we're up to</p>
		</div>
		<div class="dots dark">
			<p class="active">&#0149;</p>
			<p>&#0149;</p>
			<p>&#0149;</p>
			<p>&#0149;</p>
		</div>
		<p class="down"><i class="fa fa-angle-down fa-2x maindown"></i><p>
	</div>
	<div class="page2">
		<h1 class="headingyellow">Our Work</h1>
		<div class="grid">
			<%= image_tag("clueless.png", class: "grid-item") %>
			<%= image_tag("jump.png", class: "grid-item") %>
		</div>
	</div>
	<div class="page3">
		<div class="bgp"
			data-center="background-position: 50% 00px;"
			data-top-bottom="background-position: 50% -200px;"
			data-bottom-top="background-position: 50% 200px;"
			data-anchor-target=".page3"
	></div>
	<div class="hsContent">
				<h1 class="headingblack">About Us</h1>
				<p class="paragraphblack">We're a creative group based in Nashville, TN with a focus on clean, effective products. Founded by and comprised of high-schoolers, we are the future. We aspire to bring professional-level design, web development, and digital and print media to the world. Whether you're an individual or organization, adult or teen, we hope you will join us in our journey to innovate, create, and inspire.</p>
			</div>
	</div>
	<div class="page4">
		<h1 class="headingyellow">Join Us</h1>
		<p class="paragraphblack">Want to join our team? We're looking for talented high-schoolers who specialize in any of the following areas:</p>
		<div class="parent">
			<div class="column">
				<p class="listgray skills1">Graphic art<br>Photography<br>SEO marketing<br>Videography<br>Motion graphics</p>
			</div>
			<div class="column">
				<p class="listgray skills1">Writing<br>Photo Editing<br>App development<br>Video editing<br>Animation</p>
			</div>
		</div>
		<div class="contact">Contact us</div>
		<div class="footer">(C) clueless All Rights Reserved</div>
	</div>
</body>
</html>
